---
import Layout from "../layouts/Layout.astro";

/*

https://dribbble.com/shots/20977714--Generate-Site

Om du har kommit hit så är det dags för "sista bossen".

Jag vet inte själv om jag får till den här, men jag tänkte att det kunde vara kul att försöka. :D

*/
---

<Layout>
  <div class="center-content">
    <button>The button</button>
  </div>
</Layout>

<style>
  body {
    background-color: #0b0f0e;

    --purple: #773afc;
    --light-purple: #b677fd;
  }
  button {
    appearance: none;
    font: inherit;
    font-size: 6rem;
    background-color: var(--purple);
    color: white;
  }
</style>
