---
import Layout from "../layouts/Layout.astro";

/*
Se på bilder i /public/clocks för inspiration. Skapa en klocka som visar tiden.

Till din hjälp har du ett par variabler som blir satt av `<time-variables>`:
--hours: 13;
--minutes: 15;
--seconds: 24;

- CSS variables
- calc()
- transform: rotate()
- transform-origin

*/
---

<Layout>
  <div class="center">
    <time-variables>
      <div class="clock">
        <div class="hour"></div>
        <div class="minute"></div>
        <div class="second"></div>
      </div>
    </time-variables>
  </div>
</Layout>

<style>
  .clock {
    border-radius: 50%;
    height: max(500px, 50vh);
    aspect-ratio: 1;
    border: 2px solid;
    position: relative;
  }
</style>

<script>
  import "../webc/time-variables";
</script>
