---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<script>
  import "../webc/time-variables";
</script>

<Layout title="Welcome to Astro.">
  <a href="/1-clock">1. Klocka</a>
  <a href="/2-mosaic">1. Mosaic</a>
  <a href="/3-hover">2. Hover!</a>
</Layout>

<style></style>
