---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<script>
  import "../webc/time-variables";
</script>

<Layout title="Welcome to Astro.">
  <div class="center-content">
    <a href="/clock">1. Klocka</a>
    <a href="/hover">2. Hover!</a>
    <a href="/container-queries">3. Container queries!</a>
    <a href="/button">3. The button!</a>
  </div>
</Layout>

<style></style>
